* {
  margin: 0;
  padding: 0; }

body {
  background: #6203c1;
  color: white; }

.nav {
  margin-top: 30px;
  border: 2px solid green;
  padding: 25px; }

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; }
