* {
    margin: 0;
    padding: 0;
}

body {
    background: indigo;
    color: aquamarine;
}

.nav {
    margin-top: 25px;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}