* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(36, 2, 69);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.nav {
    margin-top: 30px;
    border: 2px solid green;
    padding: 25px;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 900;
}

